<table>
  <thead>
    <tr>
      <th>Tasks</th>
      <th><%= link_to 'Create a Task', new_category_task_path %></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <%= render "tasks", tasks: @tasks %>
      </tr>
  </tbody>
</table>