<style>
* {
  text-align: center;
  font-family: 'Open Sans', sans-serif; 
  color: #820f17
}
table {
  margin: 0 auto;
  text-align: center;
  border-collapse: collapse;
  width: 40%;
}

th, td {
  text-align: center;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
}
</style>


<table>
  <thead>
    <tr>
      <th>Tasks</th>
      <th>Description</th>
      <th>Due Date</th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @task.title %> </td>
        <td><%= @task.description %> </td>
        <td><%= @task.due_date %> </td>
      </tr>
  </tbody>
</table>