<style>
* {
  text-align: center;
  font-family: 'Open Sans', sans-serif; 
  color: #820f17
}
</style>


<table>
  <thead>
    <tr>
      <th>Tasks</th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @task.title %> </td>
        <td><%= @task.description %> </td>
        <td><%= @task.due_date %> </td>
      </tr>
  </tbody>
</table>