<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Email</th>
      <th>Password</th>
      <%= link_to 'Create an Account', new_user_registration_path %>
      <%= link_to 'Update an Account', edit_user_registration_path %>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.username %></td>
        <td><%= user.email %></td>
        <td>**********</td>
      </tr>
    <% end %>
  </tbody>
</table>
