<table>
  <thead>
    <tr>
      <th>Category</th>
      <th><%= link_to 'Create a Category', new_category_path %></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <%= render "categories", categories: @categories %>
      </tr>
  </tbody>
</table>